---
extends: default
ignore: |
  .yamllint
  .github/workflows/*
  openapi.yaml
  .goreleaser.yaml
  buf.*yaml
  .golangci.yml
  .mockery.yml

rules:
  key-duplicates: enable
  key-ordering:
    ignored-keys:
      - version
      - id
      - v
  document-start:
    level: error
  empty-lines:
    level: warning
  hyphens:
    level: warning
  indentation:
    level: error
    indent-sequences: consistent
  line-length:
    max: 80
    level: warning
    allow-non-breakable-inline-mappings: true
  truthy: enable
